VITE_API_BASE_URL=https://api.latextrans.online
VITE_LLM_MODEL=gpt-4.1-nano
VITE_NIUTRANS_LOGIN_URL=https://niutrans.com/login?active=0
VITE_NIUTRANS_REGISTER_URL=https://niutrans.com/login?active=3
VITE_NIUTRANS_ACCOUNT_URL=https://niutrans.com/login?active=0
